<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.demo.mapper.EmployeesMapper">

<select id="emp_list" resultType="com.docmall.demo.domain.EmployeeVO">
<!-- resultType은 select 문이였을 때만 사용해야 된다. insert, update, delete 문에서는 사용하지 않는다.-->
	
	<![CDATA[
	SELECT
		employee_id, 
		emp_name, 
		email, 
		phone_number, 
		hire_date, 
		salary,
		manager_id, 
		commission_pct, 
		retire_date
		department_id, 
		job_id,
		create_date, 
		update_date, 
	form 
		employees
	where
		ROWNUM <= 10;
		]]>
	</select>
</mapper>