<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.demo.mapper.BoardMapper">

	<insert id="write" parameterType="com.docmall.demo.domain.BoardVO">
	
	<!-- regdate, updatedate, viewcount는 기본데이터를 이용하기 때문에 데이터를 넣을 필요가 없음 -->
		INSERT INTO
			BOARD(bno, title, content, writer)
		VALUES <!-- BoardVO에서 GETTER가 #{}에서 작동이 됨 -->
		(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer} )
	
	</insert>
	
	<!--BoardVO의 list를 먼저 작성하고 난 뒤 id를 일치시키고 resultType의 주소를 일치시킨다. -->
	<!-- resultType은 select문만 사용이 가능하다. -->
	<select id="list" resultType="com.docmall.demo.domain.BoardVO">
	
	<!-- sql 디벨로퍼의 ;는 여기에서 들어가지 않는다. 들어가면 오류가 발생함. -->
		SELECT 
			bno, title, content, writer, regdate, updatedate,  viewcount
		FROM 
			board 
		ORDER BY 
			bno DESC
	</select>
	
	<!-- 
	검색조건 1)목록 2) 총데이터 개수 공통사항으로 사용될 때 복합적으로 사용이 필요할때는 sql로 사용해야 한다. 
	foreach : 검색 조건에 or이 붙어있는 3개 때문에 사용되어야 한다. 반복을 하는 역활이 필요하기 때문.
	검색정보가 (제목 또는 작성자 또는 내용)으로 선택, "T" "W" "C"
	-->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type"> <!--typeArr는 Criteria 클래스의 getTypeArr을 참조한다.  -->
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
	</sql>
	
		
	<!-- 공통사항: 검색조건 추가 -->
	<select id="listwithPaging" resultType="com.docmall.demo.domain.BoardVO" parameterType="com.docmall.demo.dto.Criteria">
		
		SELECT 
			bno, title, content, writer, regdate, updatedate,  viewcount
		FROM (
 	    		SELECT /*+ INDEX_DESC(board PK_BOARD) */
       				ROWNUM AS RN, bno, title, content, writer, regdate, updatedate,  viewcount
    			FROM 
        			board
    			WHERE 
    				<include refid="criteria"></include>
    				    				
    		<![CDATA[	
    			ROWNUM <= (#{pageNum} * #{amount})
    		]]>				
		)
		WHERE 
			RN > (#{pageNum} - 1) * #{amount}
		
	</select>
	
	<!-- 공통사항: 검색조건 추가 -->
	<select id="getTotalCount" resultType="int">
	
		SELECT
			COUNT(*)
		FROM
			board
		WHERE
			<include refid="criteria"></include>
		bno > 0
	</select>
	
	<!--조회수 증가 -->
	<update id="readCount" parameterType="Long" >
	
		UPDATE
			board
		SET
			viewcount = viewcount + 1
		WHERE
			bno = #{bno}
	
	</update>

	<!-- 게시물 조회 -->
	<select id="get" resultType="com.docmall.demo.domain.BoardVO" parameterType="Long">
	
		SELECT 
			bno, title, content, writer, regdate, updatedate,  viewcount
		FROM 
			board 
		WHERE 
			bno = #{bno}
	
	</select>
	
	<!-- 글 수정하기 -->
	<update id="modify" parameterType="com.docmall.demo.domain.BoardVO">
		UPDATE 
			board
   		SET 
   			title = #{title},content = #{content}, updatedate = sysdate
		WHERE 
			bno = #{bno}
	</update>
	
	<!-- 글 삭제하기 -->
	<delete id="delete" parameterType="Long">
	
	DELETE FROM
		board
	WHERE
		bno = #{bno}
	
	
	</delete>
</mapper>